Employee-Dashboard-Application/.metadata

/Employee-Dashboard-Application/Servers

/Employee-Dashboard-Application/employee_dashboard/.settings
/Employee-Dashboard-Application/employee_dashboard/build
/Employee-Dashboard-Application/employee_dashboard/.classpath
/Employee-Dashboard-Application/employee_dashboard/.project

/Employee-Dashboard-Application/employee_dashboard/src/main/webapp/META-INF
/Employee-Dashboard-Application/employee_dashboard/src/main/webapp/WEB-INF

.metadata/